# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vs/Artec3D/v16
/x64/Debug
/Artec3D.vcxproj.user
/Artec3D.vcxproj.filters
/Artec3D.vcxproj
/Artec3D.sln
/x64/Release
